.loader {

    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    border: 6px solid rgba(255, 255, 255, 0.3);
    border-top: 6px solid #ff4d4f;

    border-radius: 50%;

    width: 60px;
    height: 60px;

    animation: spin 1s linear infinite;

    z-index: 2000;

}

.hidden {
    display: none;
}

@keyframes spin {

    0% {
        transform: translate(-50%, -50%) rotate(0deg)
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg)
    }

}